{% extends 'core/shards/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'core/css/groups.css' %}">
{% endblock %}
{% block content %}
    <div class="faculty-list">
{#        <h1 class="paragraph-header">Список факультетов</h1>#}
{#        <hr>#}
        {% if faculty_list %}
            {% for faculty in faculty_list %}
                <h1 class="paragraph-header">Факультет {{ faculty.short_title }}</h1>
                <div class="group-list">
                    {% for group in faculty.group_set.all %}
{#                        {% include 'core/shards/group_item.html' with group=group %}#}
                        <a href="{% url 'core:group_details' group.pk %}" class="generic-item-inline">
                            {{ group.title }}
                        </a>
                    {% endfor %}
                    {% for department in faculty.department_set.all %}
                        {% include 'core/shards/department_item.html' %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h1 class="paragraph-header">Факультеты</h1>
            <div class="faculty-list__help">К сожалению, пока нет ни одного зарегистрированного факультета.</div>
        {% endif %}
    </div>
{% endblock %}
